* {
  margin: 0;
  padding: 0;
}

.navBar {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #212529;

  li {
    list-style-type: none;
  }
}

.navLink {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.75);

  &:hover {
    color: white;
  }
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f8f9fa;
  padding: 3rem;

  h1 {
    font-size: 2.5rem;
    font-weight: bolder;

    margin: 1rem;
  }

  h3 {
    margin: 1rem;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f8f9fa;
  padding: 3rem;
}

.product-img {
  height: 200px;
  width: 200px;
}

/* Button */
